* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

/* header */
header {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid rgb(240, 240, 240);
    padding-bottom: 21px;
    background-color: white;
}
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.header-section .logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    margin-left: 80px;
    cursor: pointer;
}
.logo-section .logo {
    width: 100%;
}
.header-section .account-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 86px;
    height: 60%;
    margin-right: 80px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    cursor: pointer;
}
.header-section .account-section:hover {
    box-shadow: 0px 2px 3px lightgray;
    transition: all 0.15s ease-in-out;
}


/* search */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    height: 65px;
    width: 89%;
    max-width: 850px;
    border-radius: 32.5px;
    box-shadow: 1px 1px 4px lightgray;
}
.search-container:hover {
    background-color: rgb(250, 250, 250);
    transition: all 0.15s ease-in-out;
}
.search-text {
    font-size: 12px;
}


/* search bar */
.search-input {
    display: flex;
    justify-content: center;
    height: 92%;
    width: 100%;
    outline: none;
    border: none;
    margin: 0px 38px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
}
.search-input:hover {
    background-color: rgb(250, 250, 250);
    transition: all 0.15s ease-in-out;
}
.search-input::placeholder {
    font-weight: normal;
    font-size: 17px;
}


/* search button */
.search-button-class {
    display: flex;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    margin-right: 8px;
}
.search-button {
    height: 100%;
    width: 100%;
    background-color: rgb(67, 64, 145);
    border: none;
    border-radius: 25px;
    padding-top: 4px;
    cursor: pointer;
}
.search-img {
    width: 18px;
    background-color: rgb(67, 64, 145);
}
@media (max-width: 1440px) {
    header {
        gap: 20px;
    }
    .header-section .logo-section {
        margin-left: 40px;
    }
    .header-section .account-section {
        margin-right: 40px;
    }
}


/* helping icons */
.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    width: 100%;
    margin: 181px 0px 10px;
    padding: 0px 80px;
    box-sizing: border-box;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    border-bottom: 3px solid transparent;
    padding: 4px 0px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.icon:hover {
    border-color: black;
    border-bottom: 3px solid black;
}
.icon .icon-img {
    opacity: 0.6;
    width: 24px;
    transition: all 0.15s ease-in-out;
}
.icon:hover .icon-img {
    opacity: 1;
}
.icon .icon-text {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    transition: all 0.15s ease-in-out;
}
.icon:hover .icon-text {
    color: black;
}
@media (max-width: 1440px) {
    .icons-container {
        padding: 23px 40px 23px 40px;
        margin-top: 181px;
        height: 78px;
    }
    .icon:hover {
        border-bottom: none;
    }
}


/* parameters */
.parameters-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
    padding: 0px 80px;
    margin: 15px 0px;
    box-sizing: border-box;
}
.parameter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid grey;
    color: grey;
}
@media (max-width: 1440px) {
    .parameters-container {
        padding: 0px 40px;
    }
}

/* NGO listing */
.listing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0px solid black;
    width: 100%;
    padding: 0px 80px;
    margin: 6px;
    box-sizing: border-box;
}
.ngo {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px 5px;
    margin: 4px 0px;
}
.ngo:hover {
    background-color: rgb(249, 249, 249);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(67, 64, 145);
    cursor: pointer;
}
.name-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}
.ngo-logo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.ngo-parameter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ngo-status {
    position: absolute;
    display: flex;
    background-color: rgb(105, 167, 105);
    height: 12px;
    width: 12px;
    border-radius: 6px;
    left: 5px;
    top: 4px;
}
@media (max-width: 1440px) {
    .listing-section {
        padding: 0px 40px;
    }
}

footer {
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 20px 80px;
    width: 100%;
    box-sizing: border-box;
}
.company {
    display: flex;
    flex-direction: column;
}
.anchor-tag {
    color: white;
    text-decoration: none;
}
.social-media {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    column-gap: 85px;
    cursor: pointer;
}
.social-media-icon {
    width: 24px;
}