body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_box {
    max-height: 85%;
    max-width: 44.45%;
    min-width: 568px;
}

.login_box .heading {
    background: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
}

.login_box .options {
    background-color: lightblue;
    padding: 30px;
}